@import './.././../scss/mixins';

.Filter {
  position: relative;
  margin-bottom: 2.0625rem;

  @include breakpoint(md) {
    margin-left: 46px;
  }

  .dropdown__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    height: 47px;
    width: 200px;
    font-family: 'Nunito Sans';
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 1rem 1.25rem;
    margin-bottom: 0.3125rem;

    @include breakpoint(md) {
      font-size: 0.875rem;
    }
  }

  .region_list {
    display: none;
    position: absolute;
    background-color: var(--white);
    border-radius: 4px;
    width: 200px;
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
    list-style: none;

    @include breakpoint(md) {
      font-size: 0.875rem;
    }

    &.filter_open {
      display: block;
    }

    .regions {
      margin-bottom: 0.5rem;
      font-weight: 600;
      cursor: pointer;

      @include breakpoint(md) {
        margin-bottom: 0.5625rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.dark_mode {
    .dropdown__button {
      background-color: var(--dark-blue);
      color: var(--white);
    }

    .region_list {
      background-color: var(--dark-blue);
    }
  }
}
