.page {
  color: var(--black);
  background-color: var(--very-light-gray);
  min-height: 88vh;
  padding: 1.5rem 1rem 1.5rem;

  &.dark_mode {
    color: var(--white);
    background-color: var(--very-dark-blue);
  }
}
